*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgb(43, 36, 36);
    padding: 16px 0;
    color: rgb(207, 250, 250);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;

}
header li a{
    color: rgb(207, 250, 250);
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 180px;
    width: 60%;
    border-radius: 11%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;

}
section h2, .articles article{
    margin-bottom: 16px;

}
.articles article h3{
    margin-top: 8px;
    margin-top: 8px;
}

.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}
.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;

}
.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}
#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color:#009432;
    color: #fff;

}

#economy{
    background-color: #fffa65;
}

#economy .articles article a{
    background-color:#ff9f1a ;
}

#tech{
    background-color: #449292
}

#entertainment{
    background-color: rgb(231, 134, 77);

}
#tech .articles article a{
    background-color: #147777;
    border: solid 1px rgb(58, 58, 58);
    border-radius: 5px;
    
}
#entertainment .articles article a{
    background-color: rgb(243, 121, 51);
    border: solid 1px rgb(58, 58, 58);
    border-radius: 5px;
    
}